---
import Layout from "../layouts/Layout.astro"
import Navigation from "../components/Navigation.astro"
import Section from "../components/Section.astro"
import SectionHeading from "../components/SectionHeading.astro"
import Header from "../components/Header.astro"
import BloonsContainer from "../components/BloonsContainer.astro"
import CardsContainer from "../components/CardsContainer.astro"
import Card from "../components/Card.astro"

const navItems = [
  {
    href: "gameelements",
    text: "Game Elements",
  },
  {
    href: "walkthroughs",
    text: "Walkthroughs",
  },
]

const bloons = [
  {
    img: "/images/bloons/blue_bloon.webp",
    alt: "blue bloon",
  },
  {
    img: "/images/bloons/red_bloon.webp",
    alt: "blue bloon",
  },
  {
    img: "/images/bloons/green_bloon.webp",
    alt: "blue bloon",
  },
  {
    img: "/images/bloons/yellow_bloon.webp",
    alt: "blue bloon",
  },
  {
    img: "/images/bloons/extra_dart_bloon.webp",
    alt: "blue bloon",
  },
  {
    img: "/images/bloons/helium_bloon.webp",
    alt: "blue bloon",
  },
  {
    img: "/images/bloons/ice_bloon.webp",
    alt: "blue bloon",
  },
  {
    img: "/images/bloons/laser_bloon.webp",
    alt: "blue bloon",
  },
  {
    img: "/images/bloons/mine_bloon.webp",
    alt: "blue bloon",
  },
]

const cards = [
  {
    src: "/images/games/bloons.webp",
    alt: "bloons",
    href: "/walkthroughs/bloons",
    cardText: "Bloons",
  },
  {
    src: "/images/games/more_bloons.webp",
    alt: "more bloons",
    href: "/walkthroughs/more-bloons",
    cardText: "More Bloons",
  },
  {
    src: "/images/games/even_more_bloons.webp",
    alt: "even more bloons",
    href: "/walkthroughs/even-more-bloons",
    cardText: "Even More Bloons",
  },
  {
    src: "/images/games/bloons_pp1.webp",
    alt: "bloons player pack one",
    href: "/walkthroughs/bloons-player-pack-one",
    cardText: "Bloons Player Pack 1",
  },
  {
    src: "/images/games/bloons_pp2.webp",
    alt: "bloons player pack two",
    href: "/walkthroughs/bloons-player-pack-2",
    cardText: "Bloons Player Pack 2",
  },
  {
    src: "/images/games/bloons_pp3.webp",
    alt: "bloons player pack three",
    href: "/walkthroughs/bloons-player-pack-3",
    cardText: "Bloons Player Pack 3",
  },
  {
    src: "/images/games/bloons_pp4.webp",
    alt: "bloons player pack four",
    href: "/walkthroughs/bloons-player-pack-4",
    cardText: "Bloons Player Pack 4",
  },
  {
    src: "/images/games/bloons_pp5.webp",
    alt: "bloons player pack five",
    href: "/walkthroughs/bloons-player-pack-5",
    cardText: "Bloons Player Pack 5",
  },
  {
    src: "/images/games/bloons_junior.webp",
    alt: "bloons junior",
    href: "/walkthroughs/bloons-junior",
    cardText: "Bloons Junior",
  },
  {
    src: "/images/games/bloons_insanity.webp",
    alt: "bloons insanity",
    href: "/walkthroughs/bloons-insanity",
    cardText: "Bloons Insanity",
  },
]
---

<Layout title="Walkthroughs">
  <Navigation class="main-nav" navItems={navItems} />

  <Section class="bg-[#7bcaff] overflow-hidden flex flex-col">
    <div class="flex flex-col justify-center w-screen">
      <Header
        class="absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 z-[10000] md:top-[40%]"
        headerText="Written step-by-step walkthroughs with images and videos to all stages and all games"
      >
        <h1 class="text-white text-4xl md:text-8xl">Walkthroughs</h1>
      </Header>
      <BloonsContainer
        class="hidden container bloons-container mt-20 ml-[50%] -translate-x-1/2 w-screen h-screen md:flex md:items-center md:justify-center md:align-center gap-4"
        bloons={bloons}
      />
    </div>
  </Section>

  <Section class="walkthroughs" id="walkthroughs">
    <SectionHeading
      sectionHeadingText="Walkthroughs"
      class="text-red-400 font-[var(--headings-font)]"
    />

    <CardsContainer cards={cards} />
  </Section>
</Layout>
