---
const {class: className, id: id, cardText} = Astro.props
---

<h3 class=`${className} absolute top-[-50%] left-[50%] -translate-x-1/2 -translate-y-1/2 z-[1000] text-white text-2xl text-center whitespace-prewrap` id={id}>
   {cardText}
</h3>