---
const { class: className, id: id, sectionHeadingText } = Astro.props
---

<header class=`${className} text-center text-3xl uppercase mt-16 text-shadow-md` id={id}>
  <h2>
    {sectionHeadingText}
  </h2>
</header>
